body {
   font: 14px "Century Gothic", Futura, sans-serif;
   margin: 20px;
}

ol, ul {
   padding-left: 30px;
}

.board-row:after {
   clear: both;
   content: "";
   display: table;
}

.status {
   margin-bottom: 10px;
}

.square {
   background: #fff;
   border: 3px solid deepskyblue;
   float: left;
   font-size: 90px;
   font-weight: bold;
   line-height: 34px;
   height: 80px;
   margin-right: -1px;
   margin-top: -1px;
   padding: 0;
   text-align: center;
   width: 80px;
}

.square:focus {
   outline: none;
}

.kbd-navigation .square:focus {
   background: #ddd;
}

.game {
   width: 100%;
}

.game h1 {
   margin-left: 28%;
   font-size: 60px;
}

.game-info {
   width: 50%;
   margin-left: 40%;
   margin-top: 20px;
}

.game-info p {
   font-size: 50px;
}

.game-info ol {
   font-size: 30px;
}

.game-info button {
   font-size: 30px;
   margin-top: 10px;
}

.game-board {
   width: 50%;
   float: left;
   margin-left: 42%;
   margin-bottom: 50px;
}
